.hostDetailsContainer {
  width: 100%;
  height: 100%;
  div {
    border: solid black;
  }

  .topContent,
  .middleContent,
  .bottomContent {
    @include flex(center, flex-start, row, 2.875rem);
    margin-top: 2rem;
    padding: 0 2rem;
    height: 31.25rem;
    position: relative;
  }

  .topContent {
    .images {
      .mainImage {
        width: 100%;
        @include centerEl;
      }
      .imagesList {
        @include flex(flex-start, center, row, 1rem);
        & > div {
          cursor: pointer;
        }
        img {
          width: 9.375rem;
        }
      }
    }
    .details {
    }
  }
}
