.contentHost {
  width: 100%;
  padding: 1rem;
  .contentHeader {
    @include flex(flex-end, center, row, 1rem);
  }
  .contentBody {
    margin-top: 1rem;
    width: 100%;
    .categories {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 1rem;
    }
    .hosted {
      box-shadow: 0.0625rem 0px 0.625rem #fafafa;
      background: #ffff;

      margin-top: 1rem;
      .coverImage {
        margin: auto;
        img {
          width: 250px;
          object-fit: contain;
          aspect-ratio: 1/1;
        }
      }
    }
  }
}
.modalTitle {
  h1 {
    color: #575757;
    font-size: 24px;
  }
}

.modalForm {
  margin-top: 1rem;
  margin-bottom: 1rem;
  ul {
    @include flex(flex-start, flex-start, column, 1rem);
    li {
      width: 100%;
    }
  }
}
