.cardContainer {
  max-height: 25rem;
  border: 0.125rem solid rgba(#e8ecf2, 0.6);
  background: #fafafa;
  border-radius: 0.375rem;
  overflow: hidden;
  //   background: rgba(#fff, 0.8);
  @include flex(space-between, initial, column, initial);
  font-weight: 400;
  cursor: pointer;
  .cardCover {
    width: 100%;
    height: 15.625rem;
    padding: 0.5rem;

    .imageFrame {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background: #ffffff center center;
      background-repeat: no-repeat;
      border-radius: 0.5rem;
    }
  }

  .cardBody {
    padding: 0.5rem;
    background: #fff;
    .topContent {
      @include flex(space-between, flex-start, row, initial);
      h2 {
        font-size: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 11.875rem;
      }
      p {
      }
      .rating {
        @include flex(center, center, row, 0.3rem);
      }
    }
    .bottomContent {
      margin-top: 1rem;
      h1 {
        font-size: 1.125rem;
        font-weight: 500;
        span {
          font-size: 0.9375rem;
          color: #787878;
        }
      }
    }
  }
}
