header {
  width: 100%;
  position: sticky;
  top: 0;
  padding: 1rem 1.5rem;
  background: #ffff;
  box-shadow: 0.0625rem 0px 0.625rem #fafafa;
  margin-bottom: 1rem;
  z-index: 90;
  nav {
    @include flex(space-between, center, row, initial);

    ul {
      @include flex(center, center, row, 1.5rem);
      li {
        a {
          color: #575757;
          &.active {
            color: #00c29f;
            &::after {
              content: "";
              width: 0.125rem;
              height: 100%;
              position: absolute;
              left: -0.625rem;
              top: 50%;
              transform: translate(0, -50%);
              background: #00c29f;
              transition: 0.2s;
            }
          }
        }
        span {
          font-size: 0.875rem;
          font-weight: 500;
        }

        &:hover {
          a {
            color: #00c29f;
          }
        }
      }
    }
  }
}
